DataFrame je Python (Pandas paket) struktura za čuvanje podataka u tabelarnom obliku. Osnovne karakteristike DataFrame strukture su:

- Podaci su raspoređeni po vrstama i kolonama
- Svaka kolona može imati ime. Svaka vrsta može imati indeks. Korišćenjem imena kolona/indeksa možemo ukazati na podatke određene kolone/vrste
- U jednoj koloni se mogu nalaziti samo podaci jednog tipa
- Kreiranje DataFrame strukture kreira se odgovarajući objekat klase DataFrame. Ovu klasu karakterišu metode koje je moguće pozivati rad manipulacije sa podacima u strukturi ili drugih aktivnosti.

Serija je Python (Pandas paket) struktura za čuvanje indeksiranih jedno-dimenzionalnih nizova. Serije mogu sadržati samo podatke jednog tipa. Od numpy nizova se razlikuju prema tome što su serije nizovi koje je moguće indeksirati. Serije će se u toku rada na kursu kreirati isecanjem podataka (jednodimenzionalnih nizova) iz DataFrame strukture

# Kreiranje DataFrame strukture popunjene podacima iz CSV datoteke

Podaci se u DataFrame strukturu mogu uvesti na različite načine. U toku rada na kursu, kreiranje popunjene DataFrame strukture ćemo vršiti uvozom podataka iz CSV datoteka. Ovaj uvoz se vrši korišćenjem funkcije read_csv pandas paketa.

In [1]:
import pandas as pd
df=pd.read_csv('kurs_diabetes.csv')

Prikaz prvih redova DataFrame strukture se vrši pozivanjem metode head df objekta. Slično, moguće je prikazati i prve elemente serije, korišćenjem iste metode, ali Series klase. 

Kao argument metode se može dostaviti i broj vrsti koje je potrebno prikazati. Ukoliko taj broj nije naveden, prikazuje se prvih 5 vrsta.

In [2]:
df.head()

   6  148  72  35    0  33.6  0.627  50  tested_positive
0  1   85  66  29    0  26.6  0.351  31  tested_negative
1  8  183  64   0    0  23.3  0.672  32  tested_positive
2  1   89  66  23   94  28.1  0.167  21  tested_negative
3  0  137  40  35  168  43.1  2.288  33  tested_positive
4  5  116  74   0    0  25.6  0.201  30  tested_negative

Prilikom učitavanja podataka iz CSV datoteke, read_csv metoda podrazumeva da se u prvom redu CSV datoteke nalaze imena kolona. Kada to nije slučaj, potrebno je prilikom učitavanja podataka, eksplicitno nazvati imena kolona. U tom slučaju, atribut names read_csv metode treba da dobije vrednost liste, čiji su elementi željeni nazivi kolona.

In [3]:
df=pd.read_csv('kurs_diabetes.csv', names=['preg','plas','pres','skin','insu','mass','pedi','age','class'])
df.head(2)

   preg  plas  pres  skin  insu  mass   pedi  age            class
0     6   148    72    35     0  33.6  0.627   50  tested_positive
1     1    85    66    29     0  26.6  0.351   31  tested_negative

# Pristupanje podacima iz DataFrame strukture

Podskupovi podataka iz DataFrame strukture se mogu dobiti postupkom isecanja. Primer dole prikazuje način isecanja vrsta - isečene su vrste sa indeksom 1 i 2, odnosno druga i treća vrsta DataFrame strukture. Kao rezultat isecanja vrsta, dobija se nova DataFrame struktura.

In [4]:
df1=df[1:3]
df1

   preg  plas  pres  skin  insu  mass   pedi  age            class
1     1    85    66    29     0  26.6  0.351   31  tested_negative
2     8   183    64     0     0  23.3  0.672   32  tested_positive

Isecanje podataka iz kolona se vrši navođenjem naziva kolone (pod navodnicima). U primeru se koristi se head metoda za skraćeni prikaz podataka. Važno je istaći da, za razliku od isecanja vrsti kada je rezultat novi DataFrame objekat, isecanjem jedne kolone se dobija serija (Series objekat).

In [5]:
sr=df['preg'].head()
sr

0    6
1    1
2    8
3    1
4    0
Name: preg, dtype: int64

# Manipulacija podacima u DataFrame strukturi

## Brisanje podataka